# <font color='blue'>Carregamento microdados Enade 2019</font>

In [1]:
# Abrindo o arquivo para leitura
microdados_enade_2019 = open("Dados/microdados_enade_2019.txt", "r")

In [2]:
# Lendo o arquivo
data_enade_2019 = microdados_enade_2019.read()

In [3]:
rows = data_enade_2019.split('\n')

In [4]:
full_data = []

In [5]:
for row in rows:
    split_row = row.split(";")
    full_data.append(split_row)

In [6]:
dados_engenharias = []
dados_engenharias.append(full_data[0][:])

In [7]:
j = 1
cod = [4003, 5710, 5806, 5814, 5902, 6002, 6008, 6208, 6307, 6405]

In [11]:
while j < len(full_data):
    if full_data[j][4] in cod:
        dados_engenharias.append(full_data[j][:])
        j += 1

KeyboardInterrupt:

In [ ]:
print(dados_engenharias[0:5])

In [ ]:
import time

inicio = time.time()
print(full_data[0:10])
fim = time.time()

In [ ]:
print(fim - inicio)

### Contando as linhas

In [ ]:
count = 0
for row in full_data:
    count += 1

In [ ]:
print(count)

### Contando as colunas

In [ ]:
count = 0
for column in full_data[0]:
    count = count + 1

In [ ]:
print(count)

## Inportando o dataset com pandas

In [12]:
import pandas as pd

In [13]:
pd.__version__

'1.1.3'

In [14]:
file_name = "Dados/microdados_enade_2019.txt"

In [15]:
df = pd.read_csv(file_name, encoding='utf-8', sep=";", low_memory=False)

In [16]:
df.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433926,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433927,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433928,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433929,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [18]:
var =  df.query('NU_ANO = "2019"')

ValueError: cannot assign without a target object