# <font color='blue'>Carregamento microdados Enade 2019</font>

In [ ]:
# Abrindo o arquivo para leitura
microdados_enade_2019 = open("Dados/microdados_enade_2019.txt", "r")

In [ ]:
# Lendo o arquivo
data_enade_2019 = microdados_enade_2019.read()

In [ ]:
rows = data_enade_2019.split('\n')

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(";")
    full_data.append(split_row)

In [ ]:
import time

inicio = time.time()
print(full_data[0:3])
fim = time.time()

In [ ]:
print(fim - inicio)

### Contando as linhas

In [ ]:
count = 0
for row in full_data:
    count += 1

In [ ]:
print(count)

### Contando as colunas

In [ ]:
count = 0
for column in full_data[0]:
    count = count + 1

In [ ]:
print(count)

## Inportando o dataset com pandas

In [1]:
# Importando pandas
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
file_name = "Dados/microdados_enade_2019.txt"

In [3]:
# Criação do DataFrame com os dados do CSV
# low_memory=False para ignorar a limitação de memória
df = pd.read_csv(file_name, encoding='utf-8', sep=";", low_memory=False)

In [4]:
df.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['CO_GRUPO'].value_counts()

5710    57261
23      41131
3501    38905
21      32325
6208    27749
36      22946
28      22341
5902    21444
12      21053
5806    18519
6       17720
19      17650
17      14806
5       14576
55      11466
6307     8324
6008     8029
95       5846
5814     5503
92       5104
4003     4782
69       3266
51       2895
27       2560
6405     2012
90       1823
6002     1790
91       1415
6410      689
Name: CO_GRUPO, dtype: int64

In [6]:
cod = [4003, 5710, 5806, 5814, 5902, 6002, 6008, 6208, 6307, 6405]

In [7]:
engenharias_ufpa = df.query(f'CO_GRUPO in {cod} and CO_IES == 569')

In [8]:
engenharias_ufpa.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
40916,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
40917,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0
40918,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,3.0,5.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0
40919,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,4.0,5.0,4.0,5.0,6.0,3.0,5.0,6.0,5.0
40920,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,3.0,4.0,5.0,3.0,3.0,3.0,7.0,4.0,4.0,4.0

In [9]:
engenharias_ufpa['CO_GRUPO'].value_counts()

5806    223
5710    188
4003    149
6307    113
5902    108
6008     71
6208     35
6002     28
6405     24
Name: CO_GRUPO, dtype: int64

In [10]:
engenharias_ufpa

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
40916,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
40917,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0
40918,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,3.0,5.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0
40919,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,4.0,5.0,4.0,5.0,6.0,3.0,5.0,6.0,5.0
40920,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,3.0,4.0,5.0,3.0,3.0,3.0,7.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361015,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,2.0,1.0,4.0,1.0,1.0,5.0,1.0,1.0,4.0,1.0
361016,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,8.0,1.0,2.0,1.0,1.0,3.0,8.0,8.0,8.0,1.0
361017,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,6.0,6.0,5.0,3.0,1.0,4.0,6.0,6.0,6.0,6.0
361018,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,4.0,2.0,2.0,1.0,1.0,1.0,1.0,6.0,4.0,1.0
361019,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,4.0,1.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0

In [11]:
df

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433926,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433927,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433928,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433929,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [12]:
engenharias_ufpa['CO_UF_CURSO'].value_counts()

15    939
Name: CO_UF_CURSO, dtype: int64

In [13]:
# Importando sweetviz
import sweetviz as sv
import numpy as np

In [ ]:
# Cria o report e chama de my_report
# my_report = sv.analyze(df)

In [ ]:
# Exporta report para HTML
# my_report.show_html()

In [14]:
engenharias_ufpa = engenharias_ufpa.drop(columns=['NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_CURSO', 'CO_MODALIDADE',
                                                 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'TP_INSCRICAO_ADM', 'TP_INSCRICAO', 
                                                  'NU_ITEM_OFG', 'NU_ITEM_OFG_Z', 'NU_ITEM_OFG_X', 'NU_ITEM_OFG_N', 
                                                  'NU_ITEM_OCE', 'NU_ITEM_OCE_Z', 'NU_ITEM_OCE_X', 'NU_ITEM_OCE_N', 
                                                  'DS_VT_GAB_OFG_ORIG', 'DS_VT_GAB_OFG_FIN', 'TP_PRES'])

In [15]:
my_report = sv.analyze(engenharias_ufpa)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=117.0), HTML(value='')), …

In [16]:
my_report.show_html()

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [17]:
eng_ufpa_sem_na = engenharias_ufpa.dropna()

In [18]:
eng_ufpa_sem_na

,CO_GRUPO,CO_MUNIC_CURSO,NU_IDADE,TP_SEXO,ANO_FIM_EM,ANO_IN_GRAD,CO_TURNO_GRADUACAO,DS_VT_GAB_OCE_ORIG,DS_VT_GAB_OCE_FIN,DS_VT_ESC_OFG,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
40916,5710,1501402,22,M,2014,2015.0,3.0,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,EDCCCCDB,...,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
40917,5710,1501402,27,F,2009,2014.0,3.0,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,BDCBECEB,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0
40918,5710,1501402,27,F,2009,2011.0,3.0,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,EDCBCCDB,...,4.0,3.0,5.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0
40919,5710,1501402,38,M,2009,2014.0,3.0,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,EDCBCADB,...,4.0,4.0,5.0,4.0,5.0,6.0,3.0,5.0,6.0,5.0
40920,5710,1501402,26,M,2011,2014.0,3.0,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,ACCCACDB,...,3.0,4.0,5.0,3.0,3.0,3.0,7.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361015,4003,1502400,25,M,2011,2015.0,3.0,EECBABEEADCEBBBCCDDCADEDAAC,EXCBXBEEXDCEBXBCCDDCXXEXAAX,BDCBCCDB,...,2.0,1.0,4.0,1.0,1.0,5.0,1.0,1.0,4.0,1.0
361016,4003,1502400,23,M,2013,2015.0,3.0,EECBABEEADCEBBBCCDDCADEDAAC,EXCBXBEEXDCEBXBCCDDCXXEXAAX,DDCBCADB,...,8.0,1.0,2.0,1.0,1.0,3.0,8.0,8.0,8.0,1.0
361017,4003,1502400,24,M,2013,2015.0,3.0,EECBABEEADCEBBBCCDDCADEDAAC,EXCBXBEEXDCEBXBCCDDCXXEXAAX,BDDBDCDE,...,6.0,6.0,5.0,3.0,1.0,4.0,6.0,6.0,6.0,6.0
361018,4003,1502400,24,F,2013,2015.0,3.0,EECBABEEADCEBBBCCDDCADEDAAC,EXCBXBEEXDCEBXBCCDDCXXEXAAX,BDDCAABC,...,4.0,2.0,2.0,1.0,1.0,1.0,1.0,6.0,4.0,1.0
361019,4003,1502400,22,M,2014,2015.0,3.0,EECBABEEADCEBBBCCDDCADEDAAC,EXCBXBEEXDCEBXBCCDDCXXEXAAX,ADCBABDC,...,4.0,1.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0

In [19]:
my_report = sv.analyze(eng_ufpa_sem_na)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=117.0), HTML(value='')), …

In [20]:
my_report.show_html()

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.