# <font color='blue'>Carregamento microdados Enade 2019</font>

In [9]:
# Abrindo o arquivo para leitura
microdados_enade_2019 = open("Dados/microdados_enade_2019.txt", "r")

In [10]:
# Lendo o arquivo
data_enade_2019 = microdados_enade_2019.read()

In [11]:
rows = data_enade_2019.split('\n')

In [12]:
full_data = []

In [13]:
for row in rows:
    split_row = row.split(";")
    full_data.append(split_row)

In [14]:
import time

inicio = time.time()
print(full_data[0:10])
fim = time.time()

[['NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO', 'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO', 'ANO_FIM_EM', 'ANO_IN_GRAD', 'CO_TURNO_GRADUACAO', 'TP_INSCRICAO_ADM', 'TP_INSCRICAO', 'NU_ITEM_OFG', 'NU_ITEM_OFG_Z', 'NU_ITEM_OFG_X', 'NU_ITEM_OFG_N', 'NU_ITEM_OCE', 'NU_ITEM_OCE_Z', 'NU_ITEM_OCE_X', 'NU_ITEM_OCE_N', 'DS_VT_GAB_OFG_ORIG', 'DS_VT_GAB_OFG_FIN', 'DS_VT_GAB_OCE_ORIG', 'DS_VT_GAB_OCE_FIN', 'DS_VT_ESC_OFG', 'DS_VT_ACE_OFG', 'DS_VT_ESC_OCE', 'DS_VT_ACE_OCE', 'TP_PRES', 'TP_PR_GER', 'TP_PR_OB_FG', 'TP_PR_DI_FG', 'TP_PR_OB_CE', 'TP_PR_DI_CE', 'TP_SFG_D1', 'TP_SFG_D2', 'TP_SCE_D1', 'TP_SCE_D2', 'TP_SCE_D3', 'NT_GER', 'NT_FG', 'NT_OBJ_FG', 'NT_DIS_FG', 'NT_FG_D1', 'NT_FG_D1_PT', 'NT_FG_D1_CT', 'NT_FG_D2', 'NT_FG_D2_PT', 'NT_FG_D2_CT', 'NT_CE', 'NT_OBJ_CE', 'NT_DIS_CE', 'NT_CE_D1', 'NT_CE_D2', 'NT_CE_D3', 'CO_RS_I1', 'CO_RS_I2', 'CO_RS_I3', 'CO_RS_I4', 'CO_RS_I5', 'CO_RS_I6', 'CO_RS_I7', 'CO_RS_I8', 'CO_RS_I9', 'QE_I01', 'QE_I02', 'QE_I03', 'QE_I04', 'QE_I05', 'QE_I06', 'QE_I07', 'QE_I08', 'QE_I09', 'QE_I10', 'QE_I11', 'QE_I12', 'QE_I13', 'QE_I14', 'QE_I15', 'QE_I16', 'QE_I17', 'QE_I18', 'QE_I19', 'QE_I20', 'QE_I21', 'QE_I22', 'QE_I23', 'QE_I24', 'QE_I25', 'QE_I26', 'QE_I27', 'QE_I28', 'QE_I29', 'QE_I30', 'QE_I31', 'QE_I32', 'QE_I33', 'QE_I34', 'QE_I35', 'QE_I36', 'QE_I37', 'QE_I38', 'QE_I39', 'QE_I40', 'QE_I41', 'QE_I42', 'QE_I43', 'QE_I44', 'QE_I45', 'QE_I46', 'QE_I47', 'QE_I48', 'QE_I49', 'QE_I50', 'QE_I51', 'QE_I52', 'QE_I53', 'QE_I54', 'QE_I55', 'QE_I56', 'QE_I57', 'QE_I58', 'QE_I59', 'QE_I60', 'QE_I61', 'QE_I62', 'QE_I63', 'QE_I64', 'QE_I65', 'QE_I66', 'QE_I67', 'QE_I68'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '27', 'M', '2010', '2012', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'DACBCBDD', '80111010', 'ABEEDDDAADEAEECBBABECCACBAA', '111911010110999090010199011', '555', '555', '555', '555', '555', '555', '336', '555', '555', '555', '555', '51,9', '36,5', '57,1', '5,5', '0', '45', '0', '11', '55', '0', '57', '60', '40', '20', '0', '100', 'E', 'D', 'C', 'D', 'B', 'C', 'B', 'D', '.', 'E', 'C', 'A', 'D', 'E', 'C', 'D', 'B', 'C', 'A', 'A', 'A', 'A', 'A', 'A', '35', 'B', 'A', 'B', 'G', 'A', 'B', 'D', 'A', 'E', 'C', '7', '1', '7', '1', '3', '5', '7', '7', '1', '1', '2', '6', '4', '1', '3', '6', '1', '1', '1', '1', '1', '2', '2', '6', '2', '1', '8', '1', '3', '2', '5', '6', '2', '5', '1', '1', '2', '5', '8', '7', '1', '2'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '26', 'M', '2009', '2015', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'CDCBDCBC', '81110100', 'ABCECDEBAABCCCDDDBAEDCBADDA', '110901100001999191111199001', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '54,2', '44,3', '57,1', '25', '32', '80', '20', '18', '90', '0', '57,5', '60', '43,3', '30', '0', '100', 'D', 'B', 'B', 'B', 'B', 'C', 'D', 'D', 'D', 'A', 'A', 'A', 'E', 'D', 'B', 'B', 'E', 'C', 'A', 'A', 'A', 'A', 'A', 'A', '51', 'B', 'A', 'A', 'C', 'A', 'B', 'D', 'C', 'E', 'C', '3', '2', '2', '1', '3', '2', '3', '3', '1', '2', '1', '2', '3', '2', '1', '6', '1', '1', '1', '1', '2', '1', '2', '5', '3', '1', '2', '7', '2', '1', '4', '3', '1', '4', '2', '2', '2', '5', '4', '4', '2', '2'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '23', 'M', '2012', '2016', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', ' ', ' ', ' ', ' ', '222', '222', '222', '222', '222', '222', '222', '222', '222', '222', '222', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'A', 'A', 'A', 'E', 'E', 'B', 'D', 'E', 'B', 'B', 'A', 'A', 'A', 'A', 'D', '51', 'A', 'A', 'B', 'C', 'A', 'D', 'B', 'C', 'B', 'A', '3', '6', '2', '1', '3', '2', '2', '2', '2', '2', '1', '1', '2', '1', '2', '6', '1', '1', '1', '4', '1', '1', '2', '6', '3', '1', '1', '2', '2', '2', '5', '2', '3', '4', '4', '3', '3', '4', '1', '1', '1', '4'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '24', 'M', '2013', '2014', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'ADCCACEB', '81100101', 'EEEEAEDABAEADAEDACABDCCCDDC', '001900011010999190101199000', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '42,1', '49,9', '57,1', '39', '42', '50', '40', '36', '80', '25', '39,5', '40', '36,7', '10', '0', '100', 'C', 'C', 'C', 'B', 'C', 'C', 'B', 'B', 'C', 'A', 'D', 'A', 'F', 'F', 'B', 'C', 'E', 'B', 'A', 'A', 'A', 'A', 'A', 'A', '51', 'B', 'A', 'D', 'G', 'A', 'A', 'D', 'A', 'C', 'F', '4', '8', '3', '2', '4', '5', '5', '4', '5', '4', '3', '2', '3', '3', '4', '6', '4', '4', '8', '3', '3', '2', '2', '8', '8', '3', '1', '1', '3', '3', '4', '3', '3', '5', '2', '2', '2', '3', '3', '4', '3', '3'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '41', 'M', '2012', '2013', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', ' ', ' ', ' ', ' ', '222', '222', '222', '222', '222', '222', '222', '222', '222', '222', '222', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'NA', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '26', 'M', '2011', '2013', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'ADCCEADB', '81100011', 'ABECDDEADCBECCEDBCACDCDCCDC', '111911110000999190101199000', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '49,3', '40,3', '57,1', '15', '16', '80', '0', '14', '70', '0', '52,3', '55', '36,7', '10', '0', '100', 'A', 'A', 'E', 'C', 'A', 'A', 'E', 'B', 'B', 'A', 'A', 'A', 'E', 'E', 'D', 'A', 'C', 'C', 'D', 'A', 'A', 'A', 'A', 'A', '31', 'B', 'A', 'B', 'H', 'A', 'C', 'E', 'E', 'C', 'E', '6', '6', '6', '1', '6', '1', '6', '6', '3', '4', '1', '1', '6', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '6', '6', '1', '1', '6', '3', '3', '5', '1', '1', '6', '1', '1', '1', '8', '1', '1', '1', '1'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '24', 'M', '2012', '2014', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'ADCBCCEB', '81111101', 'BDBCDDDAAACCBEEBEDACBCBEAAA', '000911010001999090100199111', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '49,6', '59,6', '85,7', '20,5', '5', '25', '0', '36', '80', '25', '46,2', '45', '53,3', '60', '0', '100', 'C', 'C', 'C', 'A', 'A', 'C', 'D', 'D', 'B', 'A', 'A', 'A', 'E', 'E', 'B', 'B', 'E', 'B', 'A', 'A', 'A', 'A', 'A', 'A', '51', 'B', 'A', 'B', 'E', 'A', 'B', 'C', 'A', 'B', 'A', '3', '3', '1', '1', '1', '3', '2', '5', '1', '3', '1', '1', '5', '1', '1', '6', '1', '1', '3', '3', '1', '1', '1', '5', '6', '1', '1', '1', '3', '3', '3', '3', '1', '4', '1', '3', '3', '6', '6', '3', '6', '4'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '28', 'F', '2009', '2013', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'EDCAACDB', '81100111', 'ABBAADCAAEEAECBDDBACCCCEBAC', '110901010010999191100199010', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '43,6', '45,2', '71,4', '6', '6', '30', '0', '6', '30', '0', '43', '50', '3,3', '10', '0', '0', 'D', 'C', 'C', 'D', 'B', 'C', 'E', 'D', 'B', 'A', 'A', 'A', 'D', 'E', 'B', 'F', 'D', 'B', 'A', 'A', 'A', 'A', 'A', 'A', '51', 'B', 'A', 'B', 'C', 'A', 'C', 'D', 'E', 'A', 'A', '3', '2', '2', '1', '7', '5', '2', '3', '1', '2', '1', '2', '3', '1', '3', '6', '2', '1', '1', '6', '1', '1', '3', '7', '3', '1', '1', '1', '2', '1', '6', '5', '8', '6', '3', '2', '2', '6', '8', '1', '1', '3'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '23', 'F', '2014', '2015', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'CDCBEAEB', '81110001', 'ABADDDEABAACECEDECCBBCEAADA', '110911111001999190000199101', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '333', '55,3', '45,5', '57,1', '28', '27', '55', '20', '29', '45', '25', '58,5', '60', '50', '100', '50', '0', 'C', 'C', 'C', 'B', 'C', 'C', 'D', 'D', 'A', 'A', 'A', 'A', 'E', 'F', 'B', 'E', 'E', 'B', 'A', 'A', 'A', 'A', 'A', 'A', '51', 'B', 'A', 'B', 'G', 'A', 'B', 'E', 'E', 'D', 'C', '4', '4', '2', '1', '3', '3', '3', '3', '2', '3', '1', '1', '2', '2', '1', '5', '1', '1', '2', '4', '2', '1', '2', '6', '6', '1', '1', '1', '4', '1', '5', '6', '5', '5', '1', '1', '1', '5', '1', '4', '3', '1']]

In [15]:
print(fim - inicio)

0.0

### Contando as linhas

In [16]:
count = 0
for row in full_data:
    count += 1

In [17]:
print(count)

433932

### Contando as colunas

In [18]:
count = 0
for column in full_data[0]:
    count = count + 1

In [19]:
print(count)

137

## Inportando o dataset com pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [4]:
file_name = "Dados/microdados_enade_2019.csv"

In [6]:
df = pd.read_csv(file_name, encoding='utf-8', sep=";", low_memory=False)

In [7]:
df.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433926,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433927,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433928,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433929,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0