# <font color='blue'>Carregamento microdados Enade 2019</font>

In [1]:
# Abrindo o arquivo para leitura
microdados_enade_2019 = open("Dados/microdados_enade_2019.txt", "r")

In [2]:
# Lendo o arquivo
data_enade_2019 = microdados_enade_2019.read()

In [3]:
rows = data_enade_2019.split('\n')

In [4]:
full_data = []

In [5]:
for row in rows:
    split_row = row.split(";")
    full_data.append(split_row)

In [6]:
import time

inicio = time.time()
print(full_data[0:3])
fim = time.time()

[['NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO', 'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO', 'ANO_FIM_EM', 'ANO_IN_GRAD', 'CO_TURNO_GRADUACAO', 'TP_INSCRICAO_ADM', 'TP_INSCRICAO', 'NU_ITEM_OFG', 'NU_ITEM_OFG_Z', 'NU_ITEM_OFG_X', 'NU_ITEM_OFG_N', 'NU_ITEM_OCE', 'NU_ITEM_OCE_Z', 'NU_ITEM_OCE_X', 'NU_ITEM_OCE_N', 'DS_VT_GAB_OFG_ORIG', 'DS_VT_GAB_OFG_FIN', 'DS_VT_GAB_OCE_ORIG', 'DS_VT_GAB_OCE_FIN', 'DS_VT_ESC_OFG', 'DS_VT_ACE_OFG', 'DS_VT_ESC_OCE', 'DS_VT_ACE_OCE', 'TP_PRES', 'TP_PR_GER', 'TP_PR_OB_FG', 'TP_PR_DI_FG', 'TP_PR_OB_CE', 'TP_PR_DI_CE', 'TP_SFG_D1', 'TP_SFG_D2', 'TP_SCE_D1', 'TP_SCE_D2', 'TP_SCE_D3', 'NT_GER', 'NT_FG', 'NT_OBJ_FG', 'NT_DIS_FG', 'NT_FG_D1', 'NT_FG_D1_PT', 'NT_FG_D1_CT', 'NT_FG_D2', 'NT_FG_D2_PT', 'NT_FG_D2_CT', 'NT_CE', 'NT_OBJ_CE', 'NT_DIS_CE', 'NT_CE_D1', 'NT_CE_D2', 'NT_CE_D3', 'CO_RS_I1', 'CO_RS_I2', 'CO_RS_I3', 'CO_RS_I4', 'CO_RS_I5', 'CO_RS_I6', 'CO_RS_I7', 'CO_RS_I8', 'CO_RS_I9', 'QE_I01', 'QE_I02', 'QE_I03', 'QE_I04', 'QE_I05', 'QE_I06', 'QE_I07', 'QE_I08', 'QE_I09', 'QE_I10', 'QE_I11', 'QE_I12', 'QE_I13', 'QE_I14', 'QE_I15', 'QE_I16', 'QE_I17', 'QE_I18', 'QE_I19', 'QE_I20', 'QE_I21', 'QE_I22', 'QE_I23', 'QE_I24', 'QE_I25', 'QE_I26', 'QE_I27', 'QE_I28', 'QE_I29', 'QE_I30', 'QE_I31', 'QE_I32', 'QE_I33', 'QE_I34', 'QE_I35', 'QE_I36', 'QE_I37', 'QE_I38', 'QE_I39', 'QE_I40', 'QE_I41', 'QE_I42', 'QE_I43', 'QE_I44', 'QE_I45', 'QE_I46', 'QE_I47', 'QE_I48', 'QE_I49', 'QE_I50', 'QE_I51', 'QE_I52', 'QE_I53', 'QE_I54', 'QE_I55', 'QE_I56', 'QE_I57', 'QE_I58', 'QE_I59', 'QE_I60', 'QE_I61', 'QE_I62', 'QE_I63', 'QE_I64', 'QE_I65', 'QE_I66', 'QE_I67', 'QE_I68'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '27', 'M', '2010', '2012', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'DACBCBDD', '80111010', 'ABEEDDDAADEAEECBBABECCACBAA', '111911010110999090010199011', '555', '555', '555', '555', '555', '555', '336', '555', '555', '555', '555', '51,9', '36,5', '57,1', '5,5', '0', '45', '0', '11', '55', '0', '57', '60', '40', '20', '0', '100', 'E', 'D', 'C', 'D', 'B', 'C', 'B', 'D', '.', 'E', 'C', 'A', 'D', 'E', 'C', 'D', 'B', 'C', 'A', 'A', 'A', 'A', 'A', 'A', '35', 'B', 'A', 'B', 'G', 'A', 'B', 'D', 'A', 'E', 'C', '7', '1', '7', '1', '3', '5', '7', '7', '1', '1', '2', '6', '4', '1', '3', '6', '1', '1', '1', '1', '1', '2', '2', '6', '2', '1', '8', '1', '3', '2', '5', '6', '2', '5', '1', '1', '2', '5', '8', '7', '1', '2'], ['2019', '1', '10002', '10028', '5710', '3', '1', '5103403', '51', '5', '26', 'M', '2009', '2015', '3', '1', '0', '8', '1', '0', '0', '27', '0', '7', '0', 'ZDCBCCDB', 'ZDCBCCDB', 'ABECDDEABDECCBCDEBAEDCDBAAA', 'ABEXDDEABDECXXXDXBAEDCXXAAA', 'CDCBDCBC', '81110100', 'ABCECDEBAABCCCDDDBAEDCBADDA', '110901100001999191111199001', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '555', '54,2', '44,3', '57,1', '25', '32', '80', '20', '18', '90', '0', '57,5', '60', '43,3', '30', '0', '100', 'D', 'B', 'B', 'B', 'B', 'C', 'D', 'D', 'D', 'A', 'A', 'A', 'E', 'D', 'B', 'B', 'E', 'C', 'A', 'A', 'A', 'A', 'A', 'A', '51', 'B', 'A', 'A', 'C', 'A', 'B', 'D', 'C', 'E', 'C', '3', '2', '2', '1', '3', '2', '3', '3', '1', '2', '1', '2', '3', '2', '1', '6', '1', '1', '1', '1', '2', '1', '2', '5', '3', '1', '2', '7', '2', '1', '4', '3', '1', '4', '2', '2', '2', '5', '4', '4', '2', '2']]

In [7]:
print(fim - inicio)

0.0

### Contando as linhas

In [8]:
count = 0
for row in full_data:
    count += 1

In [9]:
print(count)

433932

### Contando as colunas

In [10]:
count = 0
for column in full_data[0]:
    count = count + 1

In [11]:
print(count)

137

## Inportando o dataset com pandas

In [12]:
# Importando pandas
import pandas as pd

In [13]:
pd.__version__

'1.1.3'

In [14]:
file_name = "Dados/microdados_enade_2019.txt"

In [15]:
# Criação do DataFrame com os dados do CSV
# low_memory=False para ignorar a limitação de memória
inicio = time.time()
df = pd.read_csv(file_name, encoding='utf-8', sep=";", low_memory=False)
fim = time.time()

In [16]:
print(fim - inicio)

17.459391355514526

In [17]:
df.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df['CO_GRUPO'].value_counts()

5710    57261
23      41131
3501    38905
21      32325
6208    27749
36      22946
28      22341
5902    21444
12      21053
5806    18519
6       17720
19      17650
17      14806
5       14576
55      11466
6307     8324
6008     8029
95       5846
5814     5503
92       5104
4003     4782
69       3266
51       2895
27       2560
6405     2012
90       1823
6002     1790
91       1415
6410      689
Name: CO_GRUPO, dtype: int64

In [19]:
cod = [4003, 5710, 5806, 5814, 5902, 6002, 6008, 6208, 6307, 6405]

In [20]:
engenharias_ufpa = df.query(f'CO_GRUPO in {cod} and CO_IES == 569')

In [21]:
engenharias_ufpa.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
40916,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
40917,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0
40918,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,3.0,5.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0
40919,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,4.0,5.0,4.0,5.0,6.0,3.0,5.0,6.0,5.0
40920,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,3.0,4.0,5.0,3.0,3.0,3.0,7.0,4.0,4.0,4.0

In [22]:
engenharias_ufpa['CO_GRUPO'].value_counts()

5806    223
5710    188
4003    149
6307    113
5902    108
6008     71
6208     35
6002     28
6405     24
Name: CO_GRUPO, dtype: int64

In [23]:
engenharias_ufpa

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
40916,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
40917,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0
40918,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,3.0,5.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0
40919,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,4.0,4.0,5.0,4.0,5.0,6.0,3.0,5.0,6.0,5.0
40920,2019,569,10002,10028,5710,12001,1,1501402,15,1,...,3.0,4.0,5.0,3.0,3.0,3.0,7.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361015,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,2.0,1.0,4.0,1.0,1.0,5.0,1.0,1.0,4.0,1.0
361016,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,8.0,1.0,2.0,1.0,1.0,3.0,8.0,8.0,8.0,1.0
361017,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,6.0,6.0,5.0,3.0,1.0,4.0,6.0,6.0,6.0,6.0
361018,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,4.0,2.0,2.0,1.0,1.0,1.0,1.0,6.0,4.0,1.0
361019,2019,569,10002,10028,4003,1191240,1,1502400,15,1,...,4.0,1.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0

In [24]:
df

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433926,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433927,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433928,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433929,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [25]:
engenharias_ufpa['CO_UF_CURSO'].value_counts()

15    939
Name: CO_UF_CURSO, dtype: int64